@{
    ViewBag.Title = "ActionReport";
    Layout = "~/Views/Shared/_Theme1.cshtml";
}

<h2>ActionReport</h2>
<h2>Our Customer List</h2>
<div><a href="@Url.Action("ExportReport")"> Get Report in PDF</a></div>
