@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Theme3.cshtml";
}
@section jsFooter
{
    <script src="/Scripts/ChangePasswordUser.js"></script>
    <script src="/Scripts/ChangeStatusPermission.js"></script>
    <script src="/Scripts/ChangeOffMail.js"></script>
    <script>
        $(function () {
            $('input[type="checkbox"].flat-green, input[type="radio"].flat-green').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            })
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-red',
                radioClass: 'iradio_flat-red'
            })
        })
    </script>

}
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<div class="card-body">
    <div class="tab-content">
        <div class="active tab-pane" id="activity">
            <div class="row">
                <div class="col-6 col-sm-4 col-md-2">
                    <a href="/Employee/index">
                        <span class="mailbox-attachment-icon has-img"><img src="~/Assets/theme3/dist/img/nhanvien.jpg" alt="Attachment"></span>
                        <div class="mailbox-attachment-info" style="background:#fff">
                            <span class="mailbox-attachment-name">Nhân viên</span>
                        </div>
                    </a>
                </div>
                <div class="col-6 col-sm-4 col-md-2">
                    <a href="/User/index">
                        <span class="mailbox-attachment-icon has-img"><img src="~/Assets/theme3/dist/img/hdld.jpg" alt="Attachment"></span>
                        <div class="mailbox-attachment-info" style="background:#fff">
                            <span class="mailbox-attachment-name">Tài khoản</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
